<% layout('/layout'); %>
<% block('title', '用户管理'); %>
<% block('crumbs', '<li>用户管理</li><li class="active">新建账号</li>'); %>
<% stylesheet('/libs/select2/select2.min.css'); %>
<% script('/libs/select2/select2.min.js'); %>
<% script('/libs/select2/zh-CN.js'); %>
<% stylesheet('/libs/bootstrap/bootstrap.min.css'); %>
<% script('/libs/bootstrap/bootstrap.min.js'); %>
<% stylesheet('/libs/fontawesome/font-awesome.min.css'); %>
<% script('/js/app/admin/form.js'); %>

<div class="row" id="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="box box-info">
      <div class="box-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-md-2 col-xs-2 text-right control-label">
              <span style="color:#FF0000">* </span>用户名
            </label>
            <div class="col-md-8 col-xs-8">
              <input class="form-control" id="input-username" placeholder="请输入用户名">
            </div>
          </div>
          <div class="form-group">
            <label for="role" class="col-md-2 col-xs-2 text-right control-label">
              <span style="color:#FF0000">* </span>身份
            </label>
            <div class="col-md-8 col-xs-8">
              <select class="form-control col-md-8 col-xs-8" id="input-role">
                <option value="2">普通用户</option>
                <option value="1">管理员用户</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="house" class="col-md-2 col-xs-2 text-right control-label">
              绑定房屋
            </label>
            <div class="col-md-8 col-xs-8">
              <select class="form-control" id="house"></select>
            </div>
          </div>

        </form>
      </div>
      <div class="box-footer text-center">
        <button type="button" class="btn btn-success" id="btn-create">创建</button>
        <button type="button" class="btn btn-success hidden" id="btn-edit">编辑</button>
      </div>
    </div>
  </div>
</div>
